# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

centauri.db
src-tauri/centauri-dev.db
src-tauri/*.db-journal
src-tauri/*.db-wal
src-tauri/*.db-shm
dist-debian/