@theme {
  /* Surface & Backgrounds (Negros con matiz marino) */
  --color-neutral-950: #0a0c10;
  /* Fondo principal */
  --color-neutral-900: #12151c;
  /* Cards / Modales */
  --color-neutral-800: #1e232d;
  /* Inputs / Hover states */

  /* Primary: Navy Blue (El alma de la app) */
  --color-primary-50: #eef5ff;
  --color-primary-100: #d9e8ff;
  --color-primary-200: #bcd8ff;
  --color-primary-300: #8ebfff;
  --color-primary-400: #589eff;
  --color-primary-500: #3079ff;
  /* Color de marca principal */
  --color-primary-600: #1b56f5;
  --color-primary-700: #1440e1;
  --color-primary-800: #1735b6;
  --color-primary-900: #183190;
  --color-primary-950: #111e58;
  /* Azul marino profundo */

  /* Accent: Para destacar acciones críticas o estados */
  --color-accent-400: #00d4ff;
  /* Cyan eléctrico */

  /* Dark Mode Specifics */
  --color-dark-950: #0a0c10;
  --color-dark-900: #12151c;
  --color-dark-800: #1e232d;
  --color-dark-700: #2a303b;
}